<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style/our-properties.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILKROAD HOME</title>
</head>
<body>

    <div class="page">

        <div class="head">

            <div class="row1">
                <h1 class="title">SILKROAD</h1>
            </div>
            
            <div class="row2">

                <div class="nav-links">

                    <div>

                        <span class="menu">

                            <a href="homepage.html" class="active">Home</a> 

                            <a class="property" href="properties-list.html">Our Properties</a>

                        </span>

                        <span class="register">

                            <a href="login.html">Login</a>

                            <b>|</b>
    
                            <a href="register.html">Register</a>

                        </span>

                    </div>

                </div>
                
                <div><hr></div>

                <div>

                    <button>Post a Property</button>

                </div>
                
            </div>
        </div>

        <div class="main">
           
        </div>

        <div class="footer">

        </div>

    </div>
    
</body>
</html>